html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button:focus {
  outline: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  padding: 4vh 0;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.navbarList {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.navbarItems {
  margin-left: 50px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
}

.topContainer {
  background-color: hsl(217, 28%, 15%);
  background-image: url("../assets/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  flex: 1;
  padding: 0 10%;
}

.contentTopContainer {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  padding: 50px 0;
}

.topImage {
  max-width: 50%;
}

.topTitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.topText {
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  text-align: center;
}

.topButton {
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-weight: bold;
  border: 0;
  padding: 15px 50px;
  border-radius: 25px;
  background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

.topButton:hover {
  cursor: pointer;
}

.middleContainer {
  background-color: hsl(218, 28%, 13%);
  padding: 0 10%;
}

.itemsContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 100%;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: column;
  margin: 20px;
  width: 50%;
}

.itemText {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.itemTitle {
  margin-top: 10px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: bold;
}

.bottomContainer {
  background-color: hsl(218, 28%, 13%);
  padding: 10%;
}

.productiveContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.productiveTextContainer {
  margin-left: 20px;
  width: 40%;
}

.productiveTitle {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.productiveText {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

.productiveButton {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: hsl(176, 68%, 64%);
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding: 5px 0;
  background-color: hsl(218, 28%, 13%);
}

.productiveButton:hover {
  cursor: pointer;
}

.customersCardsContainer {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}

.customerCard {
  position: relative;
  width: 30%;
  z-index: 999;
  padding: 20px;
}

.quotes {
  position: absolute;
  margin-left: -10px;
  margin-top: -35px;
  z-index: -1;
}

.customerPhoto {
  border-radius: 50%;
  border-image-width: 10px;
  height: 30px;
  margin-right: 10px;
}

.cardContent {
  background-color: hsl(217, 28%, 15%);
  padding: 20px;
  padding-top: 35px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(153, 157, 204, 0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(153, 157, 204, 0.1);
  box-shadow: 10px 10px 5px 0px rgba(153, 157, 204, 0.1);
}

.customerInfo {
  display: flex;
  align-items: center;
}

.customerText {
  color: #fff;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.customerName {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.customerJob {
  color: #fff;
  font-size: 12px;
}
